

<launch>
   <node pkg="OpticalFlow"
    type="OpticalFlow"
    name="OpticalFlow"
    required="true"
    clear_params="true"
    output="screen">
  <!--<remap from="~images" to="/camera/rgb/image_raw"/> -->
  <remap from="~images" to="/camera/image_raw"/>
  <remap from="~imu" to="/imu"/>
  </node>
</launch>


